Repository red-hat-storage/rhcs-qa, pull requests merged in 2020-08, with the labels that each got.

#120 Rados customer bug#1810949 automation
  qa/suites/rados/downstream/tier-2/%
  qa/suites/rados/downstream/tier-2/clusters/2-node.yaml
  qa/suites/rados/downstream/tier-2/tasks/pg_merge.yaml
Labels: Octo-lab-verified, RADOS

#123 rgw/system_test: calling python3 scripts from venv after activating
  qa/tasks/rgw_system_test.py
Labels: Octo-lab-verified, RGW

#124 swift stats command verification
  qa/suites/rgw/system/tasks/swift_stats.yaml
Labels: Octo-lab-verified, RGW

#128 Updated py3 changes on system tests modules
  qa/tasks/mixed_system_tests/ios.py
  qa/tasks/mixed_system_tests/system.py
Labels: system-tests

#125 calling python3 scripts from venv after activating for longrunning and rgw-nfs-ganesha suit
  qa/tasks/nfs_ganesha_rgw_v2.py
  qa/tasks/rgw_longrunning.py
Labels: RGW, needs-qa

#129 Added new roles file(s) for system tests
  qa/suites/system-tests/clusters/clients/10rgws-10clients.yaml
  qa/suites/system-tests/clusters/clients/2rgws-2clients.yaml
  qa/suites/system-tests/clusters/clients/6rgws-6clients.yaml
  qa/suites/system-tests/clusters/mons-mgrs-mdss/3mons-3mgrs-1mds.yaml
  qa/suites/system-tests/clusters/mons-mgrs-mdss/3mons-3mgrs-3mds.yaml
  qa/suites/system-tests/clusters/osds/10osds.yaml
  qa/suites/system-tests/clusters/osds/5osds.yaml
  qa/suites/system-tests/clusters/osds/6osds.yaml
Labels: system-tests

#133 /suits/rbd/mirror-thrash/base/
  qa/suites/rbd/mirror-thrash/base/install.yaml
Labels: RBD

#135 Swift stat
  qa/tasks/rgw_longrunning.py
Labels: Octo-lab-verified, RGW
