Repository red-hat-storage/rhcs-qa, pull requests merged in 2020-06, with the labels that each got.

#93 qa/rbd: python3 syntax changes
  qa/rbd/krbd_huge_image.t
  qa/rbd/krbd_msgr_segments.t
  qa/rbd/krbd_whole_object_zeroout.t
Labels: RBD, rh-nautilus

#94 code changes to cleanup devices
  qa/tasks/rhceph_ansible.py
Labels: Ceph-Ansible, cherrypick-to-luminous, cherrypick-to-nautilus, rh-nautilus

#59 install socat package
  qa/suites/rgw/singleton/all/radosgw-admin.yaml
Labels: Octo-lab-verified, RGW, rh-luminous

#99 qa/suites/krbd/unmap/kernals/
  qa/suites/krbd/unmap/kernels/pre-single-major.yaml
Labels: RBD
