Repository red-hat-storage/rhcs-qa, pull requests merged in 2020-04, with the labels that each got.

#13 [Done] fix [rbd_kernel] workunit for RHEL 8
  qa/workunits/rbd/kernel.sh
Labels: RBD

#12 [Done] Fix [rbd_map_snapshot_io] workunit for RHEL 8
  qa/workunits/rbd/map-snapshot-io.sh
Labels: RBD

#10 [Done] Fix [krbd exclusive option] workunit for RHEL 8
  qa/workunits/rbd/krbd_exclusive_option.sh
Labels: RBD

#14 qa: changing default rbd value to 1
  qa/suites/krbd/basic/conf.yaml
  qa/suites/krbd/fsx/conf.yaml
  qa/suites/krbd/rbd/conf.yaml
  qa/suites/krbd/singleton/conf.yaml
Labels: RBD

#16 qa/tasks/qemu.py: replacing nfs with nfs-server
  qa/tasks/qemu.py
Labels: RBD

#18 Modify the "period update --commit" command to remove the usage of sy…
  qa/tasks/new_rgw_multisite.py
Labels: Octo-lab-verified, RGW

#19 rados restructure for basic suit
  qa/suites/rados/downstream/.qa
  qa/suites/rados/downstream/basic/.qa
  qa/suites/rados/downstream/basic/ceph.yaml
  qa/suites/rados/downstream/basic/rados.yaml
Labels: RADOS

#5 qa/workunits/kernel_untar_build.sh: updating to latest kernel
  qa/workunits/kernel_untar_build.sh
Labels: Ceph-Fs, Octo-lab-verified

#8 qa/workunits/rdb/krbd_fallocate.sh: force python3 and fix parameter to rbd create
  qa/workunits/rbd/krbd_fallocate.sh
Labels: RBD

#28 Updated code changes for mixed system tests
  qa/suites/mixed-system-tests/single/%
  qa/suites/mixed-system-tests/single/tasks/basic.yaml
  qa/tasks/mixed_system_test.py
  qa/tasks/mixed_system_tests/ios.py
  qa/tasks/mixed_system_tests/system.py
Labels: mixed-system-tests

#25 rados restructure for basic - needed clusters and tasks
  qa/suites/rados/downstream/basic/%
  qa/suites/rados/downstream/basic/clusters/+
  qa/suites/rados/downstream/basic/clusters/.qa
  qa/suites/rados/downstream/basic/tasks/.qa
Labels: RADOS

#26 rados restructure- basic suit - add objectsore
  qa/suites/rados/downstream/basic/msgr
  qa/suites/rados/downstream/basic/objectstore
Labels: RADOS

#27 rados restructure for basic - cluster config
  qa/suites/rados/downstream/basic/clusters/fixed-6.yaml
  qa/suites/rados/downstream/basic/clusters/openstack.yaml
Labels: RADOS

#31 qa: adding rhel 7.8 check
  qa/workunits/rbd/test_librbd_python.sh
Labels: QA-Tests, RBD

#32 changing the pg_num to power of 2
  qa/workunits/rbd/issue-20295.sh
Labels: QA-Tests, RBD

#33 qa: adding rbdrw.py file
  src/test/librbd/rbdrw.py
Labels: QA-Tests, RBD

#34 qa: removing filestore-xfs.yaml
  qa/suites/krbd/fsx/objectstore/filestore-xfs.yaml
Labels: RBD

#29 mixed-system tests
  qa/suites/mixed-system-tests/single/%
  qa/suites/mixed-system-tests/single/clusters/10-node-cluster.yaml
  qa/suites/mixed-system-tests/single/install.yaml
  qa/suites/mixed-system-tests/single/tasks/basic.yaml
  qa/tasks/mixed_system_test.py
  qa/tasks/mixed_system_tests/__init__.py
  qa/tasks/mixed_system_tests/ios.py
  qa/tasks/mixed_system_tests/system.py
Labels: Octo-lab-verified, mixed-system-tests

#35 Remove all references to Gitlab and substitute with Github latest Red…
  qa/tasks/calamari_api.py
  qa/tasks/make_coverage.py
  qa/tasks/multisite_rgw_system_test.py
  qa/tasks/multisite_test.py
  qa/tasks/nfs_ganesha_rgw.py
  qa/tasks/workunit.py
Labels: RGW, enhancement

#24 rados restructure - basic - rgw_snaps
  qa/suites/rados/downstream/basic/tasks/rgw_snaps.yaml
Labels: Octo-lab-verified, RADOS

#23 rados restructure - basic - repair_test
  qa/suites/rados/downstream/basic/tasks/repair_test.yaml
Labels: Octo-lab-verified, RADOS

#20 rados restructure - basic - running all workload in one test case
  qa/suites/rados/downstream/basic/tasks/rados_workunit_loadgen_all.yaml
Labels: Octo-lab-verified, RADOS

#21 rados restructure - basic - redwrite testing
  qa/suites/rados/downstream/basic/tasks/readwrite.yaml
Labels: Octo-lab-verified, RADOS

#22 rados restructure - basic - scrub
  qa/suites/rados/downstream/basic/tasks/scrub_test.yaml
Labels: Octo-lab-verified, RADOS

#38 qa/tasks/rgw: rgw system and nfs_ganesha suites
  qa/suites/rgw/longrunning/%
  qa/suites/rgw/longrunning/clusters/4-node-bluestore.yaml
  qa/suites/rgw/longrunning/clusters/4-node.yaml
  qa/suites/rgw/longrunning/tasks/Mbuckets_with_Nobjects.yaml
  qa/suites/rgw/longrunning/tasks/Mbuckets_with_Nobjects_multipart.yaml
  qa/suites/rgw/longrunning/tasks/Mbuckets_with_Nobjects_sharding.yaml
  qa/suites/rgw/longrunning/tasks/versioning_ops.yaml
  qa/suites/rgw/multiclient/%
  qa/suites/rgw/multiclient/clusters/4-node-bluestore.yaml
  qa/suites/rgw/multiclient/clusters/4-node.yaml
  qa/suites/rgw/multiclient/tasks/Mbuckets_with_Nobjects.yaml
  qa/suites/rgw/multiclient/tasks/Mbuckets_with_Nobjects_multipart.yaml
  qa/suites/rgw/multiclient/tasks/Mbuckets_with_Nobjects_sharding.yaml
  qa/suites/rgw/multiclient/tasks/swift_basic_ops.yaml
  qa/suites/rgw/multiclient/tasks/versioning_ops.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/%
  qa/suites/rgw/nfs-ganesha-rgw-v2/clusters/4-node-bluestore.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/clusters/4-node.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v3_nfs_io_create.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v3_nfs_io_delete.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v3_nfs_io_move.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v3_s3_io_create.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v3_s3_io_delete.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v3_s3_io_move.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v4_nfs_io_create.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v4_nfs_io_delete.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v4_nfs_io_move.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v4_s3_io_create.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v4_s3_io_delete.yaml
  qa/suites/rgw/nfs-ganesha-rgw-v2/tasks/test_on_v4_s3_io_move.yaml
  qa/suites/rgw/system/%
  qa/suites/rgw/system/clusters/4-node-bluestore.yaml
  qa/suites/rgw/system/clusters/4-node.yaml
  qa/suites/rgw/system/tasks/Mbuckets_with_Nobjects.yaml
  qa/suites/rgw/system/tasks/Mbuckets_with_Nobjects_multipart.yaml
  qa/suites/rgw/system/tasks/Mbuckets_with_Nobjects_sharding.yaml
  qa/suites/rgw/system/tasks/acls.yaml
  qa/suites/rgw/system/tasks/acls_all_usrs.yaml
  qa/suites/rgw/system/tasks/acls_copy_obj.yaml
  qa/suites/rgw/system/tasks/acls_reset.yaml
  qa/suites/rgw/system/tasks/multipart_upload_cancel.yaml
  qa/suites/rgw/system/tasks/versioning_delete.yaml
  qa/suites/rgw/system/tasks/versioning_ops.yaml
  qa/tasks/nfs_ganesha_rgw_v2.py
  qa/tasks/rgw_longrunning.py
  qa/tasks/rgw_system_test.py
Labels: Octo-lab-verified, RGW

#42 Added system tests directory structure & updated RGW test params
  qa/suites/system-tests/block/rbd-mirror/%
  qa/suites/system-tests/block/rbd-mirror/clusters/10-node-cluster.yaml
  qa/suites/system-tests/block/rbd-mirror/tasks/task.yaml
  qa/suites/system-tests/block/single/%
  qa/suites/system-tests/block/single/clusters/10-node-cluster.yaml
  qa/suites/system-tests/block/single/tasks/task.yaml
  qa/suites/system-tests/clusters/10-node-cluster.yaml
  qa/suites/system-tests/file-system/%
  qa/suites/system-tests/file-system/clusters/10-node-cluster.yaml
  qa/suites/system-tests/file-system/tasks/task.yaml
  qa/suites/system-tests/install/install.yaml
  qa/suites/system-tests/install/tasks-placeholder.yaml
  qa/suites/system-tests/object/multi-site/%
  qa/suites/system-tests/object/multi-site/clusters/10-node-cluster.yaml
  qa/suites/system-tests/object/multi-site/tasks/task.yaml
  qa/suites/system-tests/object/single-site/%
  qa/suites/system-tests/object/single-site/clusters/10-node-cluster.yaml
  qa/suites/system-tests/object/single-site/install.yaml
  qa/suites/system-tests/object/single-site/tasks/basic.yaml
Labels: Octo-lab-verified, system-tests

#46 qa/suites/krbd: changing rbddefault feature to 1
  qa/suites/krbd/thrash/conf.yaml
  qa/suites/krbd/wac/sysfs/conf.yaml
  qa/suites/krbd/wac/wac/conf.yaml
Labels: Octo-lab-verified, RBD, rh-nautilus
