Repository red-hat-storage/rhcs-qa, pull requests merged in 2020-05, with the labels that each got.

#50 qa/workunits/rbd/krbd_latest_osdmap_on_map.sh: image feature added
  qa/workunits/rbd/krbd_latest_osdmap_on_map.sh
Labels: Octo-lab-verified, RBD, rh-nautilus

#49 New rgw multi
  qa/suites/rgw/multisite-ansible/%
  qa/suites/rgw/multisite-ansible/clusters/4*3node.yaml
  qa/suites/rgw/multisite-ansible/clusters/4-node-bluestore.yaml
  qa/suites/rgw/multisite-ansible/clusters/4-node.yaml
  qa/suites/rgw/multisite-ansible/tasks/CEPH-10118.yaml
  qa/suites/rgw/multisite-ansible/tasks/CEPH-10119.yaml
  qa/suites/rgw/multisite-ansible/tasks/CEPH-10129.yaml
  qa/suites/rgw/multisite-ansible/tasks/CEPH-10141.yaml
  qa/suites/rgw/multisite-ansible/tasks/CEPH-9532.yaml
  qa/suites/rgw/multisite-ansible/tasks/Mbuckets_with_Nobjects_encryption.yaml
  qa/suites/rgw/multisite-ansible/tasks/Mbuckets_with_Nobjects_sharding.yaml
  qa/suites/rgw/multisite-ansible/tasks/install.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_acls.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_bucket_lifecycle_config_disable.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_bucket_lifecycle_config_modify.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_bucket_lifecycle_config_read.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_bucket_lifecycle_config_versioning.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_bucket_policy_delete.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_bucket_policy_modify.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_bucket_policy_replace.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_bucket_request_payer.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_bucket_request_payer_download.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_delay.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_delay_variable.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_link_failure.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_link_recover.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_storage_policy_s3.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_storage_policy_swift.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_swift_basic_ops.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_versioning_enable.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_versioning_objects_copy.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_versioning_objects_delete.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_versioning_objects_enable.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_versioning_objects_suspend.yaml
  qa/suites/rgw/multisite-ansible/tasks/test_versioning_objects_suspend_reupload.yaml
  qa/tasks/ceph_ipmi.py
  qa/tasks/multisite.py
  qa/tasks/multisite_rgw_system_test.py
  qa/tasks/multisite_test.py
  qa/tasks/new_rgw_multisite.py
  qa/tasks/verify_io.py
Labels: Octo-lab-verified, RGW, rh-nautilus

#53 Remove gitlab references in rh-nautilus
  qa/tasks/multisite_rgw_system_test.py
  qa/tasks/multisite_test.py
Labels: rh-nautilus

#48 code changes for ceph ansible task to run on all machine types.
  qa/tasks/rhceph_ansible.py
Labels: Ceph-Ansible, Octo-lab-verified, rh-nautilus

#47 ceph ansible code changes to run task on all machine types.
  qa/tasks/rhceph_ansible.py
Labels: Ceph-Ansible, Octo-lab-verified, rh-luminous

#58 add multi-site support from ceph-ansible task
  qa/suites/system-tests/clusters/12-node-multisite.yaml
  qa/suites/system-tests/clusters/mutli-realm-sample-rhcs4_1.yaml.disabled
  qa/suites/system-tests/install/multisite-install.yaml
  qa/suites/system-tests/object/multi-site/clusters/10-node-cluster.yaml
  qa/suites/system-tests/object/multi-site/clusters/12-node-multisite.yaml
  qa/suites/system-tests/object/multi-site/tasks/multisite-install.yaml
  qa/suites/system-tests/object/multi-site/tasks/task.yaml
  qa/tasks/rhceph_ansible.py
Labels: Ceph-Ansible, Octo-lab-verified, enhancement

#66 rados restructure singleton for downstream - adding admin-socket.yaml
  qa/suites/rados/downstream/singleton/.qa
  qa/suites/rados/downstream/singleton/all/.qa
  qa/suites/rados/downstream/singleton/all/admin-socket.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#65 rados restructure singleton for downstream - divergent_priors2
  qa/suites/rados/downstream/singleton/all/divergent_priors2.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#64 rados restructure singleton for downstream - diverget_priors
  qa/suites/rados/downstream/singleton/all/divergent_priors.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#68 Remove rgw_readwrite.yaml and rgw_roundtrip.yaml
  qa/suites/rgw/thrash/workload/rgw_readwrite.yaml
  qa/suites/rgw/thrash/workload/rgw_roundtrip.yaml
Labels: RGW, cherrypick-to-nautilus, rh-luminous

#72 rados restructure singleton for downstream - mon-auth-caps
  qa/suites/rados/downstream/singleton/all/mon-auth-caps.yaml
Labels: Octo-lab-verified, RADOS

#71 rados restructure singleton for downstream - max-pg-per-osd.from-replica
  qa/suites/rados/downstream/singleton/all/max-pg-per-osd.from-replica.yaml
Labels: Octo-lab-verified, RADOS

#70 rados restructure singleton for downstream - lost-unfold
  qa/suites/rados/downstream/singleton/all/lost-unfound.yaml
Labels: Octo-lab-verified, RADOS

#69 rados restructure singleton for downstream - ec-lost-unfold
  qa/suites/rados/downstream/singleton/all/ec-lost-unfound.yaml
Labels: Octo-lab-verified, RADOS

#73 install nfs-ganesha-selinux package
  qa/tasks/nfs_ganesha_rgw_v2.py
Labels: Octo-lab-verified, RGW

#75 Remove rgw_readwrite.yaml and rgw_roundtrip.yaml from multifs
  qa/suites/rgw/multifs/tasks/rgw_readwrite.yaml
  qa/suites/rgw/multifs/tasks/rgw_roundtrip.yaml
Labels: RGW

#82 rados: restructure downstream/singleton - OSD-backfill
  qa/suites/rados/downstream/singleton/all/osd-backfill.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#81 raods : restructure downstream/singleton - osd-recovery-incomplete
  qa/suites/rados/downstream/singleton/all/osd-recovery-incomplete.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#80 rados: rebuild-mondb -restructure downstream/singleton
  qa/suites/rados/downstream/singleton/all/rebuild-mondb.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#79 rados: thrash-eio- restructure downstream/singleton
  qa/suites/rados/downstream/singleton/all/thrash-eio.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#77 rados: watch-notify-same-primary.yaml- restructure downstream/singleton
  qa/suites/rados/downstream/singleton/all/watch-notify-same-primary.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#89 rados: random-eio - restructure downstream/singleton
  qa/suites/rados/downstream/singleton/all/random-eio.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#84 rados restructure singleton for downstream - dump-stuck
  qa/suites/rados/downstream/singleton/all/dump-stuck.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#85 rados restructure singleton for downstream - lost-unfound-delete
  qa/suites/rados/downstream/singleton/all/lost-unfound-delete.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#86 rados restructure singleton for downstream - max-pg-per-osdfrom-mon
  qa/suites/rados/downstream/singleton/all/max-pg-per-osd.from-mon.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#87 rados: restructure downstream/singleton - peer.yaml
  qa/suites/rados/downstream/singleton/all/peer.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#88 rados: restructure downstream/singleton - pg-removal-interruption
  qa/suites/rados/downstream/singleton/all/pg-removal-interruption.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#83 rados restructure singleton for downstream - max-pg-per-osd.from-primary
  qa/suites/rados/downstream/singleton/all/max-pg-per-osd.from-primary.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#90 rados : resolve_stuck_peering.yaml - restructure downstream
  qa/suites/rados/downstream/singleton/all/resolve_stuck_peering.yaml
Labels: Octo-lab-verified, RADOS, rh-nautilus

#91 added smoke/ceph-anisble test suites
  qa/suites/smoke/ceph-ansible/%
  qa/suites/smoke/ceph-ansible/clusters/3-mon-2mds-4-osds.yaml
  qa/suites/smoke/ceph-ansible/clusters/3-mon-3-osds.yaml
  qa/suites/smoke/ceph-ansible/clusters/4-mon-1-mds-3-osds.yaml
  qa/suites/smoke/ceph-ansible/options/bluestore.yaml
  qa/suites/smoke/ceph-ansible/options/bluestore_with_dmcrypt.yaml
  qa/suites/smoke/ceph-ansible/options/dmcrypt.yaml
  qa/suites/smoke/ceph-ansible/tasks/fio.yaml
  qa/suites/smoke/ceph-ansible/tasks/rados_bench.yaml.disabled
  qa/suites/smoke/ceph-ansible/tasks/rbd_fsx.yaml.disabled
  qa/suites/smoke/ceph-ansible/vars/downstream.yaml
Labels: Ceph-Ansible, Octo-lab-verified, cherrypick-to-nautilus, rh-nautilus

#92 [smoke:ceph-volume-lvm] added smoke/ceph-volume-lvm test suite
  qa/suites/smoke/ceph-volume-lvm/%
  qa/suites/smoke/ceph-volume-lvm/clusters/3osd_3_mon.yaml
  qa/suites/smoke/ceph-volume-lvm/objectstore/bluestore.yaml
  qa/suites/smoke/ceph-volume-lvm/objectstore/filestore.yaml
  qa/suites/smoke/ceph-volume-lvm/tasks/rados_bench.yaml
Labels: Octo-lab-verified, RADOS, cherrypick-to-nautilus

#74 install nfs-ganesha-selinux package
  qa/tasks/nfs_ganesha_rgw_v2.py
Labels: Octo-lab-verified, RGW, rh-luminous
