Repository red-hat-storage/rhcs-qa, pull requests merged in 2020-10, with the labels that each got.

#146 Adds gc teasing in system testing
  qa/suites/system-tests/object/single-site/tasks/task4-gc-test.yaml
Labels: RGW

#145 Enabled dashboard in ceph-anisble deployment
  qa/rh/downstream.yaml
  qa/suites/smoke/ceph-ansible/clusters/3-mon-2mds-4-osds.yaml
  qa/suites/smoke/ceph-ansible/clusters/3-mon-3-osds.yaml
  qa/suites/smoke/ceph-ansible/clusters/3mons-3mgr-1mds-9osds-2rgws-2clients-dashboard.yaml
  qa/suites/smoke/ceph-ansible/clusters/4-mon-1-mds-3-osds.yaml
  qa/suites/smoke/ceph-ansible/vars/downstream.yaml
  qa/suites/system-tests/object/single-site/overrides.yaml
  qa/tasks/rhceph_ansible.py
Labels: Ceph-Ansible, Octo-lab-verified, enhancement

#147 Added code changes for firewalld installation
  qa/suites/smoke/ceph-ansible/clusters/3-mon-2mds-4-osds.yaml
  qa/suites/smoke/ceph-ansible/clusters/3mons-3mgr-1mds-9osds-2rgws-2clients-dashboard.yaml
  qa/tasks/rhceph_ansible.py
Labels: Ceph-Ansible, Octo-lab-verified

#148 Enabled auto-scaler configuration
  qa/suites/system-tests/object/single-site/overrides.yaml
Labels: Octo-lab-verified, system-tests
